* {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: #433e0e;
}

.cards {
	flex: 5;
	background-color: #a7a284;
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-template-rows: repeat(auto-fill, 250px);
	padding: 20px;
	gap: 20px;
}

.sidebar h1 {
	color: #edeec0;
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 150px;
}

label {
	color: #edeec0;
	margin: 30px 30px 0px 30px;
	font-size: 1.2rem;
}

input {
	margin: 0px 30px 0px 30px;
	font-size: 2rem;
}

button {
	width: 300px;
	font-size: 2rem;
	border-radius: 30px;
	border: none;
	align-self: center;
	color: #433e0e;
	padding: 10px;
}

label[for="status"] {
	margin: 0;
}

div.status {
	display: flex;
	margin: 20px;
	justify-content: center;
	align-self: center;
	margin-bottom: 50px;
}

input[type="checkbox"] {
	width: 80px;
	margin: 0;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #7c9082;
	color: #edeec0;
	border: #433e0e solid 4px;
	padding: 20px;
	justify-content: space-between;
}

.card .pages {
	color: #edeec0a0;
	text-align: right;
}

.card .pages::after {
	content: " pages";
}

.card .author::before {
	content: "by ";
}

.card .status {
	width: fit-content;
	background-color: #433e0e;
	padding: 6px 10px;
	border-radius: 10px;
	border: none;
}
